body{
    font-family:Arial;
    text-align:center;
    margin-top:100px;
    background:#f2f2f2;
}

.box{
    background:white;
    padding:30px;
    display:inline-block;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

#count{
    font-size:60px;
    margin:20px;
}

button{
    padding:10px 20px;
    margin:5px;
    font-size:18px;
    cursor:pointer;
}