body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eaf4f4; /* pale blue */
}

header {
    background: #6b705c; /* woody brown */
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.products {
    flex: 3;
}

.cart {
    flex: 1;
    background: #dde5b6; /* pale green */
    padding: 15px;
    border-radius: 10px;
}

.category {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card button {
    background: #588157; /* green */
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    background: #3a5a40;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    margin-bottom: 8px;
}